.image-worldflag {
  background-image: url("../../assets/world_map.png");
}

.box-title {
  display: flex;
  justify-content: center;
}

.box-title-inside {
  display: flex;
  flex-direction: column;

  & button {
    padding: 1rem 2rem;
    align-self: center;
  }
}