*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-basis: 100vw;
  width: 100vw;
  justify-content: center;
}

/*}*/

body {
  height: 100vh;
}

.flag-wrapper {
  display: flex;
  flex-basis: 1200px;
  flex-shrink: 1;
  flex-wrap: wrap;
  /*justify-content: center;*/
  flex-direction: column;
  border: 2px solid;
  /*align-items: center;*/
}

header {
  display: flex;
  flex-basis:40rem;
  background-image: url("./assets/world_map.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.flag-box-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem
}

.box-title {
  display: flex;
  justify-content: center;
}

.box-title-inside {
  display: flex;
  flex-direction: column;
  & button {
    padding: 1rem 2rem;
    align-self: center;
  }
}
@media (min-width: 1200px) {
  header {
    /*flex-basis: 100%;*/

  }
}